{% extends 'base.html.twig' %}
    {% block title %}CRUDCroustillant - Burgers!{% endblock %}

    {% block body %}
        <h1>Liste des burgers</h1>
        <img src="./images/chickenrouge.jpeg" alt="Chicken Rouge du 129" style="display: block; margin: 0 auto; width: 500px;">
    {% endblock %}